body{
    margin: 0 auto;

}

.access-card{
    margin: auto;
    margin-top: 40px;
    max-width: 36rem;
    height: 480px;
}

.access-form{
    font: left;
    margin: 30px;
    padding: 20px;
    max-width: 480px;
}